.product-con img {
    width: 286px;
    height: 286px;
    border-radius: 8px;
}
.image{
    text-align: center;
}
.product-con {
    width: 95%;
    margin: 0 auto;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    height: 510px;
    width: 300px;
    /* padding: 10px; */
    position: relative;
}
.btn{
    width: 100%;
    color : orange;
    position: absolute;
    bottom: 0;
    border: none;
    padding: 15px;
    border-radius: 0 0 8px;
}
.btn:hover{
    background-color: rgb(252, 173, 27);
    color: white
}
.product-info{
    padding: 10px;
}